{% load static %}
<link rel="stylesheet" href="{% static 'assets/ressources/styles/partener.css' %}">
<center>
    <h1 class="title-categorie">Nos Sponsors </h1>
</center>
<section class="parteners" reverse="true" style="--width: 200px; --height: 100px; --quantity: 4; ">
    <div class="list">
        <a href="#" class="item" style="--position: 1" >
            <img src="{% static 'assets/default/banner.png' %}">
        </a>

        <a href="#" class="item" style="--position: 2" >
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>

        <a href="#" class="item" style="--position: 3" >
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>

        <a href="#" class="item" style="--position: 4" >
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>
    </div>
</section>