# Ignorer les fichiers et dossiers Python
__pycache__/
*.py[cod]
*.pyo

# Ignorer les fichiers de configuration locaux
*.env
*.local

# Ignorer les bases de données SQLite
db.sqlite3

# Ignorer les fichiers générés par Django
/static/
*.log

# Ignorer les dossiers virtuels Python
venv/
Sun/

# Ignorer les migrations (facultatif, si vous les régénérez souvent)
migrations/

# Ignorer les fichiers IDE
.idea/
*.iml
.vscode/

# Ignorer les archives
*.zip
*.tar.gz
*.rar

__pycache__/
*.pyc
db.sqlite3
*.log