{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Link Icone -->
    <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <!-- Link Css -->
    <link rel="stylesheet" href="{% static 'assets/formulaires/styles/facture.css' %}">

</head>
<body>
    <div class="invoice">
        <header>
            <h1>Facture</h1>
            <div class="company-info">
                <h2>Nom de l'entreprise</h2>
                <p>Adresse de l'entreprise</p>
                <p>Téléphone: 123-456-7890</p>
                <p>Email: info@entreprise.com</p>
            </div>
            <div class="invoice-info">
                <p>Facture #: 001</p>
                <p>Date: <span id="invoice-date"></span></p>
            </div>
        </header>
        <main>
            <table id="invoice-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facture in factures %}
                        <tr>
                            <td> 
                                <a href="{% url 'product_detail' product_id=facture.product.id %}">
                                <img src="{{ facture.product.image.url }}"/>
                                {{ facture.product.title }}
                                </a> 
                            </td>
                            <td><input type="number" class="quantity" name="quantity_{{ facture.id }}" value="{{ facture.quantity }}" min="1"></td> 
                            <td>{{ facture.product.prix|floatformat:0 }}</td>
                            <td class="line-total">100 FCFA</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Aucune facture trouvée.</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total en FCFA</td>
                        <td id="grand-total">175 FCFA</td>
                    </tr>
                </tfoot>
            </table>
        </main>
    </div>

    
    <script src="{% static 'assets/formulaires/scripts/facture.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</body>
</html>