{% load static %}
<div class="section_banner header_banner">
    <div class="slider">
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner.png' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner3.jpeg' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner4.jpeg' %}">
            </a>
        </div>
    
        <div class="sliderP">
            <a href="#">
                <img src="{% static 'assets/default/banner5.jpg' %}">
            </a>
        </div>
    
        <div class="lines PageLines">
            <div class="line_P" onclick="currentSlideP(1)"></div>
    
            <div class="line_P" onclick="currentSlideP(2)"></div>
    
            <div class="line_P" onclick="currentSlide(3)"></div>
    
            <div class="line_P" onclick="currentSlide(4)"></div>
        </div>
    </div>
</div>