@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ===== VARIABLES CSS ====== */
:root {
    --header-height: 3rem;

    /* ====== Colors ====== */
    --hue: 174;
    --sat: 63%;

    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;
    --color-danger: hsl(0, 95%, 65%);

    /* ========== Font and typography ========= */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* ===== z Index ====== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ====== Responsive typography ====== */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}

/* ===== Les Bases ===== */
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}

.gold
{
    color: #F2B749;
    font-weight: bold;
}

.postes
{
    position: relative;
    padding: 1.5rem 0 2rem;
    width: 76%;
    left: 26.3%;
}

.search
{
    position: fixed;
    top: 50px;
    z-index: 99;
    width: 72.5%;
    height: 20px;
    margin-right: auto;
}

.search .form-group
{
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: #F2B749;
}

.search .form-group input
{
    width: 90%;
    background: var(--body-color);
    color: var(--title-color);
    font-size: 16px;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.4px #F2B749;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px 36px 10px 10px;
    transition: all .3s ease;
}

.search .form-group button
{
    background-color: #F2B749;
    width: 87px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.search .form-group button i
{
    color: var(--title-color);
    font-size: 20px;
    transition: all .3s ease;
}

.search .form-group button i:hover
{
    color: #fff;
}

.tab-nav-bar
{
    position: relative;
    top: 50px;
    z-index: 10;
    width: 100%;
    height: 20px;
    margin-right: auto;
    margin-bottom: 130px;
}

.tab-nav-bar h1
{
    text-align: center;
}

.tab-navigation
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu
{
    color: #fff;
    list-style: none;
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 2px solid #F2B749;
    border-top: 2px solid #F2B749;
    border-radius: 50px;
    box-shadow: 5px 5px 25px rgb(2, 2, 2, 0.1);
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
    background: var(--body-color);
}

.tab-menu.dragging
{
    scroll-behavior: unset;
    cursor: grab;
}

.tab-menu::-webkit-scrollbar
{
    display: none;
}

.tab-btn
{
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    background: #F2B749;
    font-weight: bold;
    transition: 0.3s ease;
}

.tab-menu.dragging .tab-btn
{
    pointer-events: none;
}

.tab-btn:hover
{
    color: #F2B749;
    background: #fff;
}

.tab-btn.active
{
    background: #898989;
    font-weight: bold;
}

.left-btn, .right-btn
{
    position: absolute;
    color: var(--title-color);
    font-size: 1.9em;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.left-btn
{
    left: -2px;
    background: linear-gradient(to left, transparent, var(--body-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right-btn
{
    right: -2px;
    background: linear-gradient(to right, transparent, var(--body-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.slider
{
    width: 100%;
    height: 300px;
    margin-top: 45px;
    overflow: hidden;
}

.sliderP a img
{
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.lines
{
    position: absolute;
    display: flex;
    margin-top: -20px;
}

.PageLines
{
    position: absolute;
    left: 45%;
    top: 30%;
    display: none;
}

.line_P
{
    padding: 1.5px 10px;
    margin: 0 3px;
    background-color: var(--title-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activeP, 
.line_P:hover
{
    background-color: #F2B749;
}

.sliderP
{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade 
{
    from
    {
        opacity: 0.5;
    }
    to
    {
        opacity: 1;
    } 
}

.section_title
{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.tarifs
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.tarifs .valeur-price
{
    text-align: center;
    background-color: var(--body-color);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.tarifs .valeur-price h1 i
{
    position: relative;
    margin-top: 5px;
}

.tarifs .valeur-price b span
{
    font-weight: bold;
    font-size: 20px;
}

.tarifs .moins
{
    background-color: rgb(34, 202, 75);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.tarifs .plus
{
    background-color: var(--color-danger);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.products-grid
{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.product-card
{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover
{
    box-shadow: 5px 5px 20px #F2B749;
}

.product-card img
{
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.product-card p
{
    font-weight: 500;
    color: var(--title-color);
}

.product-card h4
{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--title-color);
}

.product-card > div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.product-card .rating
{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-color);
}

.product-card .rating span
{
    font-size: 1.2rem;
    color: #F2B749;
}

.product-card .price
{
    color: var(--title-color);
}

.product-card .price span
{
    color: #F2B749;
    font-size: 20px;
    font-weight: bold;
}

.gallery
{
    width: 100%;
    margin-top: 20px;
}

.gallery .images
{
    gap: 15px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
    columns: 5 340px;
}

.img-content
{
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.img-content.active
{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

.img-content  h1
{
    text-align: center;
}

.images .card
{
    display: flex;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    box-shadow: 0.8rem 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.images .card a
{
    width: 100%;
}

.images .card a img
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #F0F8FF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: var(--title-color);
    overflow: hidden;
    right: 0;
}

.details
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 5px;
    transition: bottom 0.8s ease;
    background: rgba(50, 49, 49, 0.811);
    backdrop-filter: blur(10px) saturate(50%), transparent;
}

.title
{
    color: #fff;
}

/* ===== Responsive Design ====== */
@media (width > 540px) {
    .products-grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .postes
    {
        width: 100%;
        left: -42px;
        padding: 0;
    }

    .tab-nav-bar
    {
        width: 425px;
        margin-top: 50px;
        margin-left: 4px;
    }

    .section_banner
    {
        width: 425px;
        margin-top: 101px;
    }

    .slider
    {
        width: 100%;
        height: 200px;
        top: -10px;
        position: relative;
        margin-left: 5px;
    }

    .sliderP a img
    {
        width: 100%;
        height: 200px;
        object-fit: fill;
    }

    .PageLines
    {
        top: 100%;
        left: 38%;
        display: flex;
    }

    .tarifs
    {
        width: 423px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .products-grid
    {
        width: 427px;
        margin-left: 4px;
        
    }

    .gallery
    {
        width: 427px;
    }

    .gallery .images
    {
        columns: 5 206px;
    }

    .gallery .images img
    {
        width: 100%;
    }

    .details
    {
        padding: 10px;
    }

    .details .title h1
    {
        font-size: 15px;
    }

    .details .title p
    {
        font-size: 10px;
    }

    .disparait
    {
        display: none;
    }
}



@media screen and (max-width: 767px) {
    .search
    {
        width: 100%;
        top: 45px;
    }

    .search .form-group
    {
        width: 100%;
    }

    .search .form-group button
    {
        width: 25px;
    }
}