{% extends 'users/layouts/app.html' %}

{% load static %}

{% block contenu %}

<section class="postes">

    <div class="search-form">
        <form class="search">
            <div class="form-group">
                <input type="search" name="poste" id="search-input" placeholder="Rechercher une station" />
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    {% include 'users/common/slide_banner.html' %}

    <h1 class="section_title"><i class="fa fa-shopping-bag gold"></i> Station Service </h1>

    {% if query %}
        <p>{{ station|length }} résultat{% if station|length > 1 %}s{% endif %} trouvé{% if station|length > 1 %}s{% endif %}.</p>
    {% endif %}

    {% if station %}
        <div class="products-grid">
            {% for station in station %}
                <a href="{% url 'user_detail' user_id=station.id %}" class="product-card">
                    {% if station.profile_image and station.profile_image.url %}
                        <img src="{{ station.profile_image.url }}">
                        {% else %}
					    <img src="{% static 'assets/default/user.png' %}">
                    {% endif %}
                    <p><i class="fa fa-map-marker gold"></i> {{ station.pays }}, {{ station.ville }}, {{ station.quartier }}</p>
                    <h4>{{ station.nom_boutique }}</h4>
                    <div>
                        <div class="rating">
                            <span><i class="fa fa-shopping-bag gold"></i></span>
                            {{ station.produits_count }} Produits
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>0 résultat trouvé.</p>
    {% endif %}

    {% include 'users/common/footer.html' %}
</section>

{% include 'users/common/sideleft.html' %}

{% endblock %}
