<div class="gallery">
    <ul class="images">
        {% if products %}
            {% for product in products %}
                <li class="card filter">
                    <a href="{% url 'product_detail' product_id=product.id %}"><img src="{{ product.image.url }}"></a>
                    <div class="price">
                        <h3>{{ product.prix }} <br> FCFA</h3>
                    </div>
                    <div class="details">
                        <div class="title">
                            <h1>{{ product.title }}</h1>
                            <p>
                                <em>Mis en vente depuis le {{ product.date_creation_post|date:"d F Y à H:i" }}</em>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <h1 class="section_title"><i class="fa fa-product-hunt gold"></i>0 Produits trouvé</h1>
        {% endif %}
    </ul>
</div>