{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block Authentification %}

<img src="{% static 'assets/logo/bio.jpg' %}">

<div id="wrapper">
    <div class="form-container">
        <span class="form-heading"> Connexion </span>
        <h3 class="danger">{{ error }}</h3>
        
        {% for message in messages %}
            <div class="alert alert-danger">
                <h2 class="success"> {{ message }} </h2>
            </div>
        {% endfor %}
        <form method="POST" action="/">
            {% csrf_token %}

            <h3 class="danger"> {{ error }} </h3>
            
            <div class="input-group">
                <i class="fa fa-envelope icone"></i>
                <input id="email" type="email" class="form-control" name="email" required autocomplete="email" placeholder="Votre mail">
                <span class="bar"></span>
            </div>
            
            <div class="input-group">
                <i class="fa fa-lock icone"></i>
                <input id="password" type="password" class="form-control" name="password" required autocomplete="new-password" placeholder="Votre Mot de Passe">
                <span class="bar"></span>
                <i class="fa fa-eye-slash right danger" id="pass-icon" onclick="pass()"></i>
            </div>

            

            <div class="input-group">
                <button type="submit">
                    Se Connecter
                </button>
            </div>

            <div class="switch-login">
                {% comment %} {% url 'reset_password' %} {% endcomment %}
                <a href="#" class="danger"> 
                    <span>
                        Mot de passe oublié?
                    </span>
                </a>

                <a href="register" class="white"> 
                    <span>
                        Créer un compte
                    </span> 
                </a>
            </div>

        </form>
    </div>
</div>

{% endblock %}