{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block Authentification %}

<div class="container">
    <div class="bg" 
style="background: url('{% static 'assets/default/image1.jpeg' %}') no-repeat center; background-size: cover;
            z-index: -1; content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; background-size: cover;
        filter: blur(30px);
        z-index: -1;"></div>

    <div class="contact-box">
        <div class="left">
            <img src="{% static 'assets/default/image1.jpeg' %}">
            <div class="text-content">
                <h3><span>Sun</span>Price</h3>
                <p>Les meilleurs prix près de chez vous!</p>
            </div>
        </div>
        <form method="POST" action="/" class="right">
            {% csrf_token %}
            <h2>Connexion</h2>
            

            <div class="inputs">
                <i class="fa fa-envelope"></i>
                <input id="email" type="email" class="field" name="email" required autocomplete="email" placeholder="Votre mail">
            </div>
            <div class="inputs">
                <i class="fa fa-unlock"></i>
                <input id="password" type="password" class="field" name="password" required autocomplete="new-password" placeholder="Votre Mot de Passe">
            </div>

            <button type="submit" class="btn">Se connecter</button>

            <div class="options">
                <p>Mot de passe oublié? &nbsp; <a href="{% url 'password_reset' %}">Cliquez ici</a></p>
                <p>Pas de compte? &nbsp; <a href="register">S'inscrire</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}