{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block Authentification %}
<div class="container">
    <div class="bg" 
    style="background: url('{% static 'assets/default/image1.jpeg' %}') no-repeat center; background-size: cover;
            z-index: -1; content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; background-size: cover;
        filter: blur(30px);
        z-index: -1;"></div>

    <div class="contact-box">
        <div class="left">
            <img src="{% static 'assets/default/image1.jpeg' %}">
            <div class="text-content">
                <h3><span>Sun</span>Price</h3>
                <p>Réinitialisez votre mot de passe</p>
            </div>
        </div>
        <form method="POST" class="right">
            {% csrf_token %}
            <h2>Réinitialisation de mot de passe</h2>

            <div class="inputs">
                <i class="fa fa-envelope"></i>
                <input class="field" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Votre email">
            </div>

            <button type="submit" class="btn">Envoyer</button>

            <div class="options">
                <p>Vous vous souvenez de votre mot de passe ? &nbsp; <a href="{% url 'login' %}">Connectez-vous</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
