{% extends 'auth/layouts/forms.html' %}

{% load static %}

{% block Authentification %}
<div class="container">
    <div class="bg" 
    style="background: url('{% static 'assets/default/image1.jpeg' %}') no-repeat center; background-size: cover;
            z-index: -1; content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; background-size: cover;
        filter: blur(30px);
        z-index: -1;"></div>

    <div class="contact-box">
        <div class="left">
            <img src="{% static 'assets/default/image1.jpeg' %}">
            <div class="text-content">
                <h3><span>Sun</span>Price</h3>
                <p>Nouveau mot de passe</p>
            </div>
        </div>
        <form method="post" class="right">
            {% csrf_token %}
            <h2>Définir un nouveau mot de passe</h2>

            {% if form.errors %}
            <div class="errors">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="inputs">
                <i class="fa fa-unlock"></i>
                <input type="password" name="new_password1" class="field" required placeholder="Nouveau mot de passe">
            </div>
            <div class="inputs">
                <i class="fa fa-unlock"></i>
                <input type="password" name="new_password2" class="field" required placeholder="Confirmer le mot de passe">
            </div>

            <button type="submit" class="btn">Réinitialiser le mot de passe</button>

            <div class="options">
                <p>Retour à la <a href="{% url 'login' %}">connexion</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
